.col-md-12
  .page-header
    %h1
      Lists
      %span.small
        %a{href: '/lists/new', title: 'New List'} New

  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th Name
        %th Shared with
        %th Created at
        %th Updated at
    %tbody
      - @lists.each do |list|
        %tr
          %td
            %a{href: "lists/#{list.id}"}=list.name
          %td=list.shared_with
          %td=list.created_at
          %td=list.updated_at
      - if @lists.length == 0
        %tr
          %td.text-center{colspan: 4} No records
